
.menu{
    height: 2rem;
    width: 2rem;
    padding:0!important;
    background-color: transparent!important;
    border: none!important;
    margin:1em;

}
.menu img{
    position: relative;
    width: 100%;
    height: 100%;
}

.search_btn{
	color: #72edf2;
	border-color:  #72edf2;
}
.search_btn:hover{
	background-color: #72edf2;
	border-color:  #72edf2;
}

.user{
	/* margin: 1rem; */
}
.bell{

}

.realAvt{
	background-color: transparent!important;
	border-color: transparent!important;
}
.realAvt:hover{
	background-color: transparent;
	border-color: transparent;

}
.realAvt div:focus{
	background-color: transparent;
	display: flex;
	justify-content: center;
}
.avt {
	/* border-radius: 50%; */
	object-fit: cover;
	border: 2px solid #72edf2;
	width: 3rem;
	height: 3rem;
	/* position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center; */

}
avtDropDown:focus{
	background-color: transparent;
}
.realAvt:focus {     
    background-color:transparent;
}
.realAvt:active {     
    background-color:transparent;
}

.grNoty{
	margin-left: 1rem;
}
.notification{
	position: absolute;
	right: 100px;
	top: 80px;
	z-index: 1000;
	cursor: pointer;
	background: transparent	;

}
.notify_item{
	margin: 0.2rem 0;
}

.dropInfo{
	left: -5rem!important;
}


.unauth{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1rem;
	width:150px;
}

.dropdownGroup{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	border-left: 1px solid #72edf2;
	border-radius: 0.3rem;
	transition: scale 0.3s ease-in-out,
				border-bottom 0.3s ease-in-out;
}
.dropdownGroup:hover{
	position: relative;
	border-bottom: 1px solid #72edf2;
	border-left: 3px solid #72edf2;
	scale: 1.1;
	margin-left: 10px;
}
