

.Tabs{
	border:none;
	/* background-color: red; */
}
.Tabs li{
	border:none;
	/* background-color: cyan; */

}
.Tabs li button{
	/* border:5px solid blue; */
	/* background-color: yellowgreen!important; */
	
	color: black;
}

.Tabs li button.active{

	/* border:5px solid blue; */
	border: 0;
	border-bottom:solid 2px #5151e5!important;
	background-color: rgba(81, 81, 229, 0.2)!important;
	color: #5151e5;
	/* background-color: red; */

}

.tabsItem{
	/* background-color: green; */
	border: none;

}


.people_img{
	border-radius: 50%;
	width: 3.3rem;
	height: 3.3rem;
	margin: 0 1rem;
}

.people_card{
	border:none
}
.people_cardItem{
	border: none;
}
.people_cardHeader{
	border-bottom:solid 2px rgba(81, 81, 229, 0.5)!important;
}
.people_userInfo{
	font-size: 1.5rem;
	font-weight: lighter;
}

.people_userInfo img{
	border: solid 2px cyan;
}




.people_dropdown{
	border: none;
}

.people_dropdown button{
	border: none;
	background: transparent;
}

.people_myGroup{
	/* background-color: blanchedalmond!important */
	font-weight: bold;

}








